.pricingList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  margin-top: 70px;
  width: 1200px;
  margin-bottom: 100px;
  font-family: 'Oswald';
  font-weight: 300;
}

.item {
  width: 300px;
  background: #fff;
  padding: 30px;
  text-align: center;
}
